<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node.Js e Express</title>
</head>
<body>
    <nav>
        <a href="/">Inicio</a> | <a href="/sobre">Sobre</a> | <a href="/contato">Contato</a>
    </nav>
    <h1>Sobre</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus soluta incidunt nemo aliquid, doloribus magnam dignissimos accusantium facilis voluptate tempora. 
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Et ullam odio enim, dignissimos expedita rerum, quod perferendis qui voluptatem tempora delectus nam eveniet voluptates? Officia laborum, debitis rerum voluptate in sint ullam natus laudantium illum minus totam distinctio quasi non!</p>
</body>
</html>